::placeholder {
    font-family: sans-serif;
    font-weight: 600;
}

body {
    background-image: url(../sky.JPG);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 

    display: flex;
    flex-direction: column;
}

.textbox {
    margin: 10px;
    padding: 3px;
    width: 250px;

}
.content {
    
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 5px;
    padding: 30px;
    margin-top: 10%;
    color: white;
    font-family: sans-serif;

}
 
.quote {
    width: 649px;
    height: 167px;
    margin: 10px;


}

.send {
    border: none;
    color: white;
    font-weight: 500;
    background: none;
    font-size: 1.2em;

    
}

.send:hover {
    cursor: pointer;
    font-size: 1.3em;



}

.homelink {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    margin-left: 5px;
    margin-top: 10px;
    padding: 2px;
    font-size: 1.2em;
    width: 400px;
}

.homelink:hover {
    border-bottom: 2px solid white;
}

