body {
    display: flex;
    flex-direction: column;
}

.content {
    
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 5px;
    padding: 30px;
    margin-top: 10%;
    color: white;
    font-family: sans-serif;

}

body {
    min-width: 994px;
    min-height: 488px;
}

.quote {
    text-align: center;
    padding-bottom: 50px;
    height: 150px;
    


}

.submit {
    text-align: center;
    padding-bottom: 20px; 
    padding-top: 15px;
    


}

a {
    text-decoration: none;
    color: white;

}

a:hover {
    color: rgb(216, 216, 216);
}


.display {
    width: 100%;
    
}

.genbutton {
    text-align: center;
}
/* button */

button {
    background: #f6f6f671;
    border: none;
    font-size: 20px;
    padding: 10px;
    color: grey;
    font-weight: 600;
    border-radius: 3px;
    outline: none;
}
.width {
    height: 100%;
}

button:hover {
    background: #c2c2c271;
    color:rgb(255, 255, 255);
    cursor: pointer;

}

button:active {
    outline: 0;
    border: none;
    -moz-outline-style: none;
    text-decoration: none;
}
/* background */

body {
    background-image: url(../sky.JPG);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 

}