body {
    display: flex;
    flex-direction: column;
}

.content {
    
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    
}

.display {
    border: 1px solid black;
    text-align: center;
    padding: 20px;
    width: 100%;
    
}

.genbutton {
    text-align: center;

}